.rotating-icon {
    display: inline-block;
    animation: spin 2s linear infinite; /* Apply the spin animation */
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg); /* Start at 0 degrees */
    }
    100% {
      transform: rotate(360deg); /* End at 360 degrees */
    }
  }
  /* animations.css */

/* Overlay Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Modal Animations */
@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

/* Animation Classes */

.overlay-enter {
  animation: fadeIn 0.3s forwards;
}

.overlay-exit {
  animation: fadeOut 0.3s forwards;
}

.modal-enter {
  animation: scaleIn 0.3s forwards;
}

.modal-exit {
  animation: scaleOut 0.3s forwards;
}

.campaign-name {
  display: inline-block;
  max-width: 17ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.has-tooltip {
  &:hover + .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.tooltip {
  pointer-events: none;
}
